body {
	background-color: white;
}

.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: white;
	height: 100%;
	width: 800px;
}

.tweet-box {
	width: 770px;
	height: 56px;
}

.header {
	text-align: right;
}

.profile {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 100px;
}

.profile .profile-image {
	float: left;
}

.profile .name h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

a.profile .account {
	font-size: 13px;
	line-height: 22px;
}

.profile .description {
	font-size: 13px;
	line-height: 22px;
}

.form-area {
	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	background-color: #ECECFF;
}


.account-name .name {
	font-weight: lighter;
	color: brack;

}

.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

.posts .post{
	padding: .5em .75em;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.account-name {
	position: relative;
	padding: .75em 1em .75em 1.5em;
	border: 1px solid #ccc;
}
.account-name::after {
	position: absolute;
	top: .5em;
	left: .5em;
	content: '';
	width: 6px;
	height: -webkit-calc(100% - 1em);
	height: calc(100% - 1em);
	background-color: #3498db;
	border-radius: 4px;
}

.posts .comments {
	padding: .5em .75em;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.subject{
	position: relative;
	padding: .75em 1em .75em 1.5em;
	border: 1px solid #ccc;
}
.subject::after {
	position: absolute;
	top: .5em;
	left: .5em;
	content: '';
	width: 6px;
	height: -webkit-calc(100% - 1em);
	height: calc(100% - 1em);
	background-color: #3498db;
	border-radius: 4px;
}

.category{
	position: relative;
	padding: .75em 1em .75em 1.5em;
	border: 1px solid #ccc;
}
.category::after {
	position: absolute;
	top: .5em;
	left: .5em;
	content: '';
	width: 6px;
	height: -webkit-calc(100% - 1em);
	height: calc(100% - 1em);
	background-color: #3498db;
	border-radius: 4px;
}

.choice{
	padding: .5em .75em;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.comment {
	padding: .5em .75em;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.text{
	position: relative;
	padding: .75em 1em .75em 1.5em;
	border: 1px solid #ccc;
}
.text::after {
	position: absolute;
	top: .5em;
	left: .5em;
	content: '';
	width: 6px;
	height: -webkit-calc(100% - 1em);
	height: calc(100% - 1em);
	background-color: #3498db;
	border-radius: 4px;
}

.comments .name{
	position: relative;
	padding: .75em 1em .75em 1.5em;
	border: 1px solid #ccc;
}
.comments .name::after {
	position: absolute;
	top: .5em;
	left: .5em;
	content: '';
	width: 6px;
	height: -webkit-calc(100% - 1em);
	height: calc(100% - 1em);
	background-color: #3498db;
	border-radius: 4px;
}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}